.paginado{
    
    padding: 0;
    margin: 15px;
    background-color: #C2C5AA;
    border-radius: 5px;
}

.paginado  button{
    display: inline-block ;
    margin: 2px;
    padding: 8px 16px;
    text-decoration: none;
    /* border: 1px solid #b6ad90; */
    background-color: #D6D2C4;
    border-radius:2px;
    border: none;
    color:#2B2B2B ;
}

.paginado ul button:hover:not(.active) {background-color: #C9D8B6;}

.paginado ul button.active {
    background-color: #2B2B2B;
    color: #C2C5AA;
}

.paginado ul{
    padding: 5px 30px;
}